doctype html
html(lang='en')
    head
        title Giant
        meta(charset="UTF-8")
        meta(name='description' content='Test task')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        block vars

    body
        include ./../blocks/button/button.pug
        include ./../blocks/header/header.pug
        include ./../blocks/download/download.pug
        include ./../blocks/price/price.pug
        include ./../blocks/list-item/list-item.pug
        include ./../blocks/social-icons/social-icons.pug
        include ./../blocks/navigation/navigation.pug
        include ./../blocks/feature/feature.pug
        include ./../blocks/testimonial/testimonial.pug
        include ./../blocks/footer/footer.pug
        
        .container
            +header
            main
                section.features
                    .content-container
                        .content-container__column
                            +feature({iconClass:'fa fa-tags',title:'Sell any product online',text:'Over 92% of computers are infected with Adware and spyware. Such software is '})
                            +feature({iconClass:'fa fa-fire-extinguisher',title:'Responsive, HTML5, CSS3',text:'Computers have become ubiquitous in almost every facet of our lives. At work,'})
                        .content-container__column
                            +feature({iconClass:'fa fa-cog',title:'Very easy to customize',text:'Many of us are so used to working on a computer desktop that when it comes '})
                            +feature({iconClass:'fa fa-file-alt',title:'Designed to convert',text:'If you are looking for a new way to promote your business that won’t cost '})
                        .content-container__column
                            +feature({iconClass:'fa fa-paint-brush',title:'Unlimited colors',text:'Audio player software is used to play back sound recordings in one of the many'})
                            +feature({iconClass:'fa fa-life-ring',title:'With no boundaries',text:'Now, if you are interested in being the best player, getting really good money and'})
                section.about-ux
                    .content-container
                        .about-ux__image
                        .about-ux__text-container
                            h2.about-ux__title='We don’t leave you stranded'
                            p.about-ux__text='Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?'
                            br
                            br
                            p.about-ux__text='Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill? If you’re already a developer, or a PM, or a UX designer.'
                            ul.about-ux__ul
                                +list-item({mods:'black',text:'Unlimited colors: banner with images, slider or video'})
                                +list-item({mods:'black',text:'Fully Responsive and powered by HTML5 and CSS3'})
                                +list-item({mods:'black',text:'Very easy to customize : set up in minutes'})
                section.slider-screenshots
                    .content-container
                        h2.slider-screenshots__title='Take a look at our screenshots'
                        .slider-screenshots__text='Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?'
                        //-+slider
                section.pricing
                    .content-container
                        h2.pricing__title='We\'ve got the perfect package for you'
                        .pricing__text='Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?'
                        .pricing-container
                            +price({title:'Basic',cost:'12.0',items:['One User','Multiple Access','SMS Support','24/7 Online Support']})
                            +price({mods:'active',title:'Standard',cost:'24.0',items:['Five User','Multiple Access','SMS Support','24/7 Online Support']})
                            +price({title:'Premium',cost:'250.0',items:['Twenty User','Multiple Access','SMS Support','24/7 Online Support']})
                            +price({title:'Enterprise',cost:'999.0',items:['Unlimited User','Multiple Access','SMS Support','24/7 Online Support']})
                section.video
                    .content-container
                        +button({mods:'video'})
                section.testimonials
                    .content-container
                        h2.testimonials__title='What our customers are saying'
                        .testimonials__text='Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?'
                        .testimonials-container
                            +button({mods:'arrow',directionArrow:'left'})
                            +testimonial({linkAvatar:'assets/img/users/user_1.png',text:'The JustLanded for WordPress theme is great, super easy to use and to customize and the support is just awesome: super fast and reliable.',username:'Alexandra Bullock'})
                            +testimonial({linkAvatar:'assets/img/users/user_2.png',text:'Very happy with the theme and incredibly easy to configure, well done! I cannot emphasize how awesome this theme and developer support are.',username:'Gary Sebastian'})
                            +testimonial({linkAvatar:'assets/img/users/user_3.png',text:'Definitely a great theme and the support team are fantastic. Customer support is numero uno and ShapingRain have got this spot on. Cheers guys.',username:'Samantha Bilbau'})
                            +button({mods:'arrow',directionArrow:'right'})
                section.downloads
                    .content-container
                        h2.downloads__title='Download Giant App Now'
                        .downloads-container
                            +download({linkIcon:'assets/img/icons/mac_icon.png',text:'Download from app store'})
                            +download({linkIcon:'assets/img/icons/android_icon.png',text:'Download from play store'})
                            +download({linkIcon:'assets/img/icons/windows_icon.png',text:'Download from microsoft store'})
            +footer